@import "../styles/fonts.scss";
@import "../../styles.scss";
@import "../styles/mixins.scss";

h3 {
  color: $mint;
  font-family: "Josefin Sans", sans-serif;
}

.reference_section {
  @include dFlex($g: 56px);
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.references {
  @include dFlex($jc: space-between, $g: 16px);
  width: 100%;
  max-width: 1440px;
  // max-width: 100%; // Erlaubt Überbreite
  overflow-x: auto; // Ermöglicht horizontales Scrollen
  -webkit-overflow-scrolling: touch; // Für besseres Scrollverhalten auf iOS
  scroll-snap-type: x mandatory; // Für präzises Snapping beim Sliden
  padding-bottom: 20px; // Platz für Scrollbar

  .reference {
    min-width: 300px;
    height: 400px;
    padding: 44px;
    @include dFlex();
    background-image: url("../../assets/img/ellipse_references.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms ease;

    &:hover {
      background-image: url("../../assets/img/ellipse_references_hover.png");
    }

    .reference_text {
      @include dFlex($g: 19px);
      flex-direction: column;

      p > a {
        text-decoration: none;
      }

      a {
        color: $mint;
      }

      p,
      a {
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
      }
    }
  }
}
