@import "../../styles.scss";
@import "../styles/mixins.scss";
@import "../styles/fonts.scss";

h3,
.title_part1,
.title_part2 {
  color: $mint;
  font-family: "Josefin Sans", sans-serif;
}

section {
  @include dFlex($g: 56px);
  flex-direction: column;
  overflow: hidden;
  margin: 0 24px;

  @media screen and (max-width: 350px) {
    margin: 0 12px;
  }
}

.references {
  position: relative;
  @include dFlex($jc: space-between, $g: 16px);
  width: 100%;
  max-width: 1440px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 965px) {
    overflow-x: hidden;
    pointer-events: none;
  }

  .reference {
    min-width: 290px;
    max-width: 450px;
    width: 100%;
    height: 400px;
    padding: 44px;
    @include dFlex();
    background-image: url("../../assets/img/ellipse_references.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms ease;

    &:hover {
      background-image: url("../../assets/img/ellipse_references_hover.png");
    }

    @media (max-width: 1300px) {
      height: 350px;
    }

    @media (max-width: 1100px) {
      height: 290px;
      // padding: 0 30px 0 60px;
      background-image: url("../../assets/img/ellipse_references_mobile.png");
    }

    .reference_text {
      @include dFlex($g: 19px);
      flex-direction: column;
      // overflow-y: auto;

      .reference_project,
      .reference_project > a {
        font-size: 18px;
        text-decoration: none;

        @media (max-width: 1100px) {
          > a {
            font-weight: 700;
          }
        }
      }

      a {
        color: $mint;
      }

      p,
      a {
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
      }

      @media (max-width: 1300px) {
        h3 {
          font-size: 24px;
        }
      }

      @media (max-width: 1100px) {
        // align-items: flex-start;
        height: 100%;
        gap: 8px;

        h3 {
          color: $white;
        }

        .text {
          margin: 8px 0;
          overflow-y: auto;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .title_container {
    @include dFlex($g: 8px);
    flex-direction: column;

    .title_part1 {
      font-family: "Anta";
      font-size: 32px;
      text-align: center;
    }

    .title_part2 {
      color: $white;
      text-align: center;
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: $mint;
  clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  cursor: pointer;
}

.arrow-left {
  left: -12px;
}

.arrow-right {
  right: -12px;
}