<div class="reference_section">
  <h3>{{
    "references.title" | translate
  }}</h3>
  <div class="references">
    @for (reference of references; track $index) {
    <div class="reference">
      <div class="reference_text">
        <h3>{{ reference.name }}</h3>
        <p>
          {{
            "references.project" | translate
          }}: <a href="">{{ reference.project }}</a>
        </p>
        <p>"{{ "references." + reference.translationKey | translate}}"</p>
        <a href="{{ reference.linkedInPath }}">{{
          "references.profileLink" | translate
        }}</a>
      </div>
    </div>
    }
  </div>
</div>
