@import "../styles/fonts.scss";
@import "../../styles.scss";
@import "../styles/mixins.scss";

section {
  @include dFlex();
  flex-direction: column;
  max-width: 1440px;
  @include marginMaxWidth();

  > .content {
    @include dFlex($jc: space-between, $ai: flex-start, $g: 50px);
    width: 860px;
  }
}
.typing_effect {
  @include dFlex($g: 8px);
  > .typing_img {
    width: 74px;
    height: 63px;
    background-image: url("../../assets/icons/icon_location.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  p {
    font-size: 26px;
    font-family: "Josefin Sans";
  }

  .highlight {
    color: $mint;
    font-weight: 700;
  }
}

.about_me_text_and_btn {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;

  p {
    font-family: "Josefin Sans";
    font-size: 18px;
    text-align: start;
  }
}
