@import "../styles/fonts.scss";
@import "../../styles.scss";
@import "../styles/mixins.scss";

section {
  @include dFlex();
  flex-direction: column;
  max-width: 1440px;
  @include marginMaxWidth();

  > .content {
    @include dFlex($jc: space-between, $ai: flex-start, $g: 50px);
    width: 860px;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  @media (max-width: 650px) {
    @include marginMobile();
  }
}

.typing_effect {
  @include dFlex($g: 8px);
  width: 50%;

  .typing_img {
    width: 74px;
    height: 63px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.fade-in {
      opacity: 1;
    }

    &.fade-out {
      opacity: 0;
    }
  }

  .typing_text {
    width: 100%;
  }

  p,
  span {
    font-size: 24px;
    font-family: "Josefin Sans";
  }

  .highlight {
    color: $mint;
    font-weight: 700;
  }

  @media (max-width: 1000px) {
    .typing_img {
      width: 42px;
      height: 50px;
    }

    p,
    span {
      font-size: 20px;
    }
  }

  @media (max-width: 900px) {
  width: 70%;
  }
  
  @media (max-width: 650px) {
    width: 300px;
    .typing_img {
      width: 32px;
      height: 40px;
    }

    p,
    span {
      font-size: 18px;
    }
  }
}

.about_me_text_and_btn {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;

  p {
    font-family: "Josefin Sans";
    font-size: 18px;
    text-align: start;
  }

  @media (max-width: 900px) {
    width: 100%;
    align-items: center;

    p {
      text-align: center;
    }
  }
}
