<section>
  <h2 id="about">{{ "about-me.title" | translate}}</h2>
  <div class="content">
    <div class="typing_effect">
      <div class="typing_img"></div>
      <p>
        <span class="highlight">{{ "about-me.location1" | translate}}</span> {{ "about-me.location2" | translate}}
      </p>
    </div>
    <div class="about_me_text_and_btn">
      <p class="about_me_text"> {{ "about-me.text" | translate}}
      </p>
      <button><a href="#contact">{{ "about-me.wantContact" | translate}}</a></button>
    </div>
  </div>
</section>