<section>
  <h2 id="about">{{ "about-me.title" | translate }}</h2>
  <div class="content">
    <div class="typing_effect">
      <div
        class="typing_img" [ngClass]="fadeClass"
        [ngStyle]="{ 'background-image': currentImage }"
      ></div>
      <ngx-typed-js
        [strings]="typedStrings"
        [typeSpeed]="100"
        [backSpeed]="50"
        [backDelay]="1000"
        [loop]="true"
        (preStringTyped)="toggleIcon($event)"
      >
        <p>
          <span class="highlight">{{ "about-me.location1" | translate }}</span
          >&nbsp;<span class="typing"></span>
        </p></ngx-typed-js
      >
    </div>
    <div class="about_me_text_and_btn">
      <p class="about_me_text">{{ "about-me.text" | translate }}</p>
      <button>
        <a href="#contact">{{ "about-me.wantContact" | translate }}</a>
      </button>
    </div>
  </div>
</section>
