@import "../styles/fonts.scss";
@import "../../styles.scss";
@import "../styles/mixins.scss";

.atf {
  @include marginMaxWidth();
  margin-top: 112px;

  > .hero {
    position: relative;
    @include dFlex($jc: space-between);
    max-width: 1440px;
    width: 100%;
    height: 600px;

    > .hero_img {
      @include dFlex($ai: flex-end);
      flex-grow: 1;
      position: relative;

      > .hero_img_bg {
        width: 80%;
        height: 500px;
        transform: rotate(-45deg);
        background-image: url("../../assets/img/shape_hero.png");
        background-size: contain;
        background-repeat: no-repeat;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        opacity: 1;
        transition: all 0.3s;
      }

      &:hover > .hero_img_bg {
        opacity: 0.9;
        transform: rotate(-27deg);
      }

      > .profile_img {
        position: absolute;
        bottom: 0;
        left: 10%;

        > img {
          height: 500px;
        }
      }
    }
  }
}

.infos {
  position: relative;
  @include dFlex();
  flex-direction: column;
  width: 50%;
  height: 100%;

  > .hero_logo {
    height: 75px;
    width: 95px;
    background-image: url("../../assets/img/logo_default.png");
    background-size: contain;
    background-position: center;
    transition: background-image 0.4s ease;

    &:hover {
      background-image: url("../../assets/img/logo_hover.png");
    }
  }

  > a {
    padding-top: 100px;

    > svg {
      rect {
        transition: fill 0.4s ease;
        fill: transparent;
      }
      &:hover {
        rect {
          fill: rgba(255, 255, 255, 0.1);
        }
        path {
          fill: #6dbfb8;
        }
      }
    }
  }
}

.social_media_buttons {
  @include dFlex($g: 16px);
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;

  > a {
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: background-image 0.3s ease;

    &:nth-child(1) {
      background-image: url("../../assets/icons/sm_button_github_default.png");
      &:hover {
        background-image: url("../../assets/icons/sm_button_github_hover_mint.svg");
      }
    }

    &:nth-child(2) {
      background-image: url("../../assets/icons/sm_button_mail_default.png");
      &:hover {
        background-image: url("../../assets/icons/sm_button_mail_hover_mint.svg");
      }
    }

    &:nth-child(3) {
      background-image: url("../../assets/icons/sm_button_li_default.svg");
      &:hover {
        background-image: url("../../assets/icons/sm_button_li_hover_mint.svg");
      }
    }
  }
}

h1 {
  padding-top: 36px;
}

h2 {
  padding-top: 24px;
  font-family: "Josefin Sans";
  font-size: 36px;
  font-weight: 200;
}
