@import "../styles/fonts.scss";
@import "../../styles.scss";
@import "../styles/mixins.scss";

.atf {
  margin-top: 40px;
  @include dFlex();

  > .hero {
    position: relative;
    @include dFlex($jc: space-between);
    max-width: 1440px;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.hero_img_container {
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;

  .hero_img_bg {
    position: absolute;
    top: 0;
    left: 5%;
    width: 85%;
    height: 110%;
    transform: rotate(-45deg);
    background-image: url("../../assets/img/shape_hero.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 1;
  }

  .hero_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      filter: grayscale(100);
    }
  }

  &:hover .hero_img_bg {
    opacity: 0.9;
    transform: rotate(-27deg);
  }
}

.infos {
  position: relative;
  @include dFlex();
  flex-direction: column;
  width: 50%;
  height: 100%;

  > .hero_logo {
    height: 75px;
    width: 95px;
    background-image: url("../../assets/img/logo_default.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.4s ease;
    margin-top: 54px;

    &:hover {
      background-image: url("../../assets/img/logo_hover.png");
    }
  }

  > .bouncing_link {
    padding-top: 50px;
    display: inline-block;

    > svg {
      rect {
        transition: fill 0.4s ease;
        fill: transparent;
      }
      animation: bounce 1s infinite alternate;

      &:hover {
        rect {
          fill: rgba(255, 255, 255, 0.1);
        }
        path {
          fill: #6dbfb8;
        }
        animation-play-state: paused;
      }
    }
    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-30px);
      }
    }
  }
}

.social_media_buttons {
  @include dFlex($g: 16px);
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;

  > a {
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: background-image 0.3s ease;

    &:nth-child(1) {
      background-image: url("../../assets/icons/sm_button_github_default.png");
      &:hover {
        background-image: url("../../assets/icons/sm_button_github_hover_mint.svg");
      }
    }

    &:nth-child(2) {
      background-image: url("../../assets/icons/sm_button_mail_default.png");
      &:hover {
        background-image: url("../../assets/icons/sm_button_mail_hover_mint.svg");
      }
    }

    &:nth-child(3) {
      background-image: url("../../assets/icons/sm_button_li_default.svg");
      &:hover {
        background-image: url("../../assets/icons/sm_button_li_hover_mint.svg");
      }
    }
  }
}

h1 {
  padding-top: 36px;
}

h2 {
  padding-top: 24px;
  font-family: "Josefin Sans";
  font-size: 36px;
  font-weight: 200;
}

@media (max-width: 1270px) {
  .hero_img_container,
  .infos {
    width: 100%;
    max-width: 600px;
  }

  .hero_img_container {
    margin-bottom: 36px;
    min-height: 370px;
  }
}

@media (max-width: 1050px) {
  h2 {
    padding-bottom: 0;
  }
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .atf {
    margin: 0;
  }

  .hero_img_container {
    overflow: visible;

    .hero_img_bg {
      background-image: url("../../assets/img/shape_hero_mobile.png");
      transform: none;
      width: 100%;
      height: 100%;
      left: 0;
    }

    &:hover .hero_img_bg {
      transform: none;
    }

    .bouncing_link {
      padding-top: 0;
    }
  }

  .social_media_buttons,
  .hero_logo {
    display: none;
  }

  .bouncing_link {
    padding-top: 0;
  }
}

@media (max-width: 545px) {
  h1 {
    padding: 0;
  }
}
