<div class="atf">
  <div class="hero">
    <div class="hero_img">
      <img src="../assets/img/profile_placeholder.png" alt="" />
    </div>
    <div class="infos">
      <div class="hero_logo"></div>
      <h1>Stephanie Englberger</h1>
      <h3>(Dipl-Ing.)</h3>
      <h2>FRONTEND DEVELOPER</h2>
      <a href="about"
        ><img src="../../assets/icons/icon_arrow_down.svg" alt=""
      /></a>
    </div>
    <div class="social_media_buttons">
      <a href="https://github.com/StephEngl" target="_blank"> </a>
      <a href="" target="_blank"> </a>
      <a href="https://de.linkedin.com/" target="_blank"> </a>
    </div>
  </div>
</div>
