@import "../../../styles/fonts.scss";
@import "../../../../styles.scss";
@import "../../../styles/mixins.scss";

nav {
  font-family: "Anta";
  width: 100%;
  height: 104px;
  background-color: $mint;
  @include dFlex();
  z-index: 500;

  .nav_container {
    width: 100%;
    max-width: 1440px;
    @include marginMaxWidth();
    @include dFlex($jc: space-between);

    .nav_links {
      @include dFlex($g: 60px);

      @media (max-width: 1050px) {
        gap: 30px;
      }
      @media (max-width: 920px) {
        gap: 4px;
      }

      a {
        transition: all 125ms;
        padding: 12px 8px;
        cursor: pointer;
        text-align: center;

        &:hover {
          color: $white;
        }

        &.active {
          color: $white;
          background-image: url(../../../../assets/img/ellipse_menu_button.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .change_language_btns {
      @include dFlex($g: 12px);
      p {
        cursor: pointer;
        color: black;
        padding: 5px 10px;
        transition: all 0.3s ease;

        &.active {
          color: $white;
          background-image: url("../../../../assets/img/ellipse_language_active.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          pointer-events: none;
        }

        &:not(.active):hover {
          color: $white;

          & + .active,
          & ~ .active {
            color: $bg_dark;
            background-image: none;
          }
        }
      }
    }

    .burger_menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-top: 0;

      .burger_icon,
      .menu_icon {
        font-size: 35px;
        color: $white;
      }
    }

    @media (max-width: 900px) {
      @include marginMobile();
    }
  }

  @media (max-width: 650px) {
    height: 100px;
    background-color: $bg_dark;

    .nav_container {
      .logo {
        content: url("../../../../assets/img/logo_mobile.png");
      }

      .nav_links,
      .change_language_btns {
        display: none;
      }

      .burger_menu {
        display: flex;
      }
    }
  }
}

a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Josefin Sans";
  color: $bg_dark;

  @media (max-width: 1000px) {
    font-size: 20px;
  }
}

nav.menu_open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .nav_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../assets/img/ellipse_bg_menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 385px;
    width: 360px;

    .nav_links {
      display: flex;
      flex-direction: column;
      gap: 15px;

      a {
        font-size: 24px;
        font-weight: 600;
        color: $bg_dark;
        text-decoration: none;
        transition: color 125ms;

        &:hover {
          color: $white;
        }

        & + .active {
          color: $bg_dark;
          background-image: none;
        }
      }
    }

    .logo {
      display: none;
    }

    .change_language_btns {
      display: flex;
      margin-top: 30px;

      p {
        font-size: 18px;
        color: $bg_dark;
        cursor: pointer;

        &.active {
          color: $white;
        }

        &:hover:not(.active) {
          color: $white;
        }
      }
    }

    .burger_menu {
      position: absolute;
      top: 30px;
      right: 24px;
    }

    @media (max-width: 400px) {
      .nav_links {
        gap: 10px;

        a {
          font-size: 18px;
        }
      }

      .change_language_btns {
        margin-top: 12px;
      }
    }
  }
}
