<nav [class.menu_open]="menuStateService.isMenuOpen()">
  <div class="nav_container">
    <img class="logo" src="../../assets/img/logo_mobile_dark.png" alt="Logo" />
    <div class="nav_links">
      <a href="#about" (click)="closeMenu()">{{ "nav.link1" | translate }}</a>
      <a href="#skills" (click)="closeMenu()">{{ "nav.link2" | translate }}</a>
      <a href="#projects" (click)="closeMenu()">{{ "nav.link3" | translate }}</a>
      <a href="#contact" (click)="closeMenu()">{{ "nav.link4" | translate }}</a>
    </div>
    <div class="change_language_btns">
      <p [class.active]="currentLang === 'de'" (click)="changeLanguage('de')">
        DE
      </p>
      <p [class.active]="currentLang === 'en'" (click)="changeLanguage('en')">
        EN
      </p>
    </div>

    <button class="burger_menu" (click)="toggleMenu()">
      @if (!menuStateService.isMenuOpen()) {
      <span class="burger_icon">☰</span>
    } @else { 
      <span class="menu_icon">✖</span>
      }
    </button>
  </div>
</nav>
