@import "../../../styles/fonts.scss";
@import "../../../../styles.scss";
@import "../../../styles/mixins.scss";

nav {
  font-family: "Anta";
  width: 100%;
  height: 104px;
  background-color: $mint;
  @include dFlex();
  position: sticky;
  top: 0;
  z-index: 500;

  .nav_container {
    width: 100%;
    max-width: 1440px;
    @include marginMaxWidth();
    @include dFlex($jc: space-between);

    .nav_links {
      @include dFlex($g: 80px);

      @media (max-width: 1050px) {
        gap: 40px;
      }
      @media (max-width: 860px) {
        gap: 20px;
      }

      a {
        transition: all 0.3s;
        &:hover {
          color: $white;
        }
      }
    }

    .change_language_btns {
      @include dFlex($g: 12px);
      p {
        cursor: pointer;
        color: black;
        padding: 5px 10px;
        transition: all 0.3s ease;

        &.active {
          color: $white;
          background-image: url("../../../../assets/img/ellipse_language_active.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          pointer-events: none;
        }

        &:not(.active):hover {
          color: $white;

          & + .active {
            color: $bg_dark;
            background-image: none;
          }
        }
      }
    }

    .burger_menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 30px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-top: 0;

      span {
        width: 30px;
        height: 2px;
        background-color: $white;
        transition: all 0.3s linear;
      }
    }

    @media (max-width: 800px) {
      @include marginMobile();
    }

    @media (max-width: 600px) {
      .nav_links,
      .change_language_btns {
        display: none;
      }

      .burger_menu {
        display: flex;
      }
    }
  }
}

a {
  text-decoration: none;
  font-size: 26px;
  font-family: "Josefin Sans";
  color: $bg_dark;

  @media (max-width: 1000px) {
      font-size: 20px;
  }
}


@media (max-width: 600px) {
  nav {
    height: 120px;
    background-color: $bg_dark;
    .nav_container {
      .logo {
        content: url("../../../../assets/img/logo_mobile.png");
      }
    }
  }
}

nav.menu_open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); // Dunkler Hintergrund für das Overlay
  z-index: 1000;

  .nav_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../assets/img/ellipse_bg_menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 385px;
    width: 360px;

    .nav_links {
      display: flex;
      flex-direction: column;
      gap: 40px;

      a {
        font-size: 24px;
        color: $bg_dark;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $white;
        }

        & + .active {
          color: $bg_dark;
          background-image: none;
        }
      }
    }

    .logo {
      display: none;
    }

    .change_language_btns {
      display: flex;
      margin-top: 40px;

      p {
        font-size: 18px;
        color: $bg_dark;
        cursor: pointer;

        &.active {
          color: $white;
        }

        &:hover:not(.active) {
          color: $white;
        }
      }
    }

    .burger_menu {
      position: absolute;
      top: 20px;
      right: 20px;

      span {
        background-color: $white;
      }
    }
  }
}
