<section>
  <h2>My Skills</h2>
  <div class="content">
    <div class="skill_set">
      <img src="../../assets/icons/skill_icon_angular.svg" alt="" />
      <img src="../../assets/icons/skill_icon_typescript.svg" alt="" />
      <img src="../../assets/icons/skill_icon_javascript.svg" alt="" />
      <img src="../../assets/icons/skill_icon_html.svg" alt="" />
      <img src="../../assets/icons/skill_icon_css.svg" alt="" />
      <img src="../../assets/icons/skill_icon_api.svg" alt="" />
      <img src="../../assets/icons/skill_icon_firebase.svg" alt="" />
      <img src="../../assets/icons/skill_icon_git.svg" alt="" />
      <img src="../../assets/icons/skill_icon_bootstrap.png" alt="" />
      <img src="../../assets/icons/skill_icon_vb.png" alt="" />
      <img src="../../assets/icons/skill_icon_scrum.svg" alt="" />
    </div>
    <div class="currently_learning">

    </div>
  </div>
</section>


