<section>
  <h2>{{ "skills.title" | translate }}</h2>
  <div class="content">
    <div class="skill_set">
      <app-select-tech-stack 
        [columnLayout]="buttonsMobile" 
        [stackLabels]="['Frontend', 'Backend', 'Tools']" 
        [activeStack]="skillSets[selectedIndex].label"
        (selectedStack)="onTechStackSelected($event)">
      </app-select-tech-stack>

      <div class="slide-container"
      (mouseenter)="pauseAutoSwitch()"
      (mouseleave)="resumeAutoSwitch()">
        @for (skillSet of skillSets; track skillSet.label) {
          @if (skillSet.label === skillSets[selectedIndex].label) {
            <div class="image_wrapper" [@fadeInOut]>
              @for (skill of skillSet.skills; track skill) {
                <img [src]="isMobile ? skill.mobileSrc : skill.src" [alt]="skill.alt" />
              }
            </div>
          }
        }
      </div>
    </div>
    <div class="currently_learning">
      <p>{{ "skills.learning" | translate }}</p>
      <img src="../../assets/icons/skill_icon_vue.svg" alt="Icon Vue.JS" />
      <h3>
        {{ "skills.lookingFor" | translate }}
        <span class="highlight">{{ "skills.anotherSkill" | translate }}</span
        >?
      </h3>
      <button>
        <a href="#contact">{{ "skills.button" | translate }}</a>
      </button>
    </div>

    <div class="currently_learning_mobile">
      <p>{{ "skills.learningMobile" | translate }}</p>
      <div class="bg_img">
        <img src="../../assets/icons/skill_icon_vue.svg" alt="Icon Vue.JS" />
      </div>
      <h3>
        {{ "skills.lookingFor" | translate }}
        <span class="highlight">{{ "skills.anotherSkill" | translate }}</span
        >?
      </h3>
      <button>
        <a href="#contact">{{ "skills.button" | translate }}</a>
      </button>
    </div>
  </div>
</section>
