@import "../styles/fonts.scss";
@import "../../styles.scss";
@import "../styles/mixins.scss";

section {
  @include dFlex();
  flex-direction: column;

  .content {
    @include dFlex($g: 40px);
    width: 100%;

    > .skill_set {
      width: 50%;
      @include dFlex();
      
      .image_wrapper {
        width: 50%;
        @include dFlex($jc: space-between, $g: 24px);
        flex-wrap: wrap;
      }

      img {
        transition: transform 0.3s ease; // Smooth transition for the bounce effect

        &:hover {
          transform: translateY(-10px); // This moves only the hovered icon up
        }
      }
    }

    > .currently_learning {
      height: 400px;
      width: 50%;
      background-image: url("../../assets/img/ellipse_skills.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      @include dFlex($g: 16px);
      flex-direction: column;

      >img {
        padding-bottom: 16px;
      }

      .highlight {
        color: $mint;
        font-weight: 700;
      }
    }
  }
}
