<app-header></app-header>
<section>
  <h1>{{ "privacyPolicy.title" | translate }}</h1>
  <h2>{{ "privacyPolicy.overview" | translate }}</h2>
  <h3>{{ "privacyPolicy.general" | translate }}</h3>
  <p>
    {{ "privacyPolicy.generalText" | translate }}
  </p>
  <h3>{{ "privacyPolicy.dataCollectionTitle" | translate }}</h3>
  <h4>
    {{ "privacyPolicy.dataCollectionTitle1" | translate }}
  </h4>
  <p>
    {{ "privacyPolicy.dataCollectionText1" | translate }}
  </p>
  <h4>{{ "privacyPolicy.dataCollectionTitle2" | translate }}</h4>
  <p>
    {{ "privacyPolicy.dataCollectionText2" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.dataCollectionText3" | translate }}
  </p>
  <h4>{{ "privacyPolicy.dataCollectionTitle3" | translate }}</h4>
  <p>
    {{ "privacyPolicy.dataCollectionText4" | translate }}
  </p>
  <h4>{{ "privacyPolicy.dataCollectionTitle4" | translate }}</h4>
  <p>
    {{ "privacyPolicy.dataCollectionText5" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.dataCollectionText6" | translate }}
  </p>
  <h2>2. Hosting</h2>
  <p>{{ "privacyPolicy.hostingtext" | translate }}</p>
  <h3>All-Inkl</h3>
  <p>
    {{ "privacyPolicy.hostingtext2" | translate }}
    <a
      href="https://all-inkl.com/datenschutzinformationen/"
      target="_blank"
      rel="noopener noreferrer"
      >https://all-inkl.com/datenschutzinformationen/</a
    >.
  </p>
  <p>
    {{ "privacyPolicy.hostingtext3" | translate }}
  </p>

  <h2>{{ "privacyPolicy.generalNotesTitle" | translate }}</h2>
  <h3>{{ "privacyPolicy.dataProtectionTitle" | translate }}</h3>
  <p>
    {{ "privacyPolicy.dataProtectionText1" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.dataProtectionText2" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.dataProtectionText3" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.responsibleTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.responsibleText1" | translate }}
  </p>
  <p>
    Stephanie Englberger<br />
    Strümpfelbacher Str. 4<br />
    71384 Weinstadt
  </p>
  <p>
    {{ "privacyPolicy.responsibleAddress1" | translate }}<br />
    {{ "privacyPolicy.responsibleAddress2" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.responsibleText2" | translate }}
  </p>

  <h3>{{ "privacyPolicy.retentionPeriodTitle" | translate }}</h3>
  <p>
    {{ "privacyPolicy.retentionPeriodText" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.legalBasesInformationTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.legalBasesInformationText1" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.legalBasesInformationText2" | translate }}
  </p>
  <h3>{{ "privacyPolicy.recipientsTitle" | translate }}</h3>
  <p>
    {{ "privacyPolicy.recipientsText1" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.recipientsText2" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.revocationTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.revocationText" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.rightToObjectTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.rightToObjectText1" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.rightToObjectText2" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.rightToLodgeTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.rightToLodgeText" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.rightToPortabilityTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.rightToPortabilityText" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.rightToInfoTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.rightToInfoText" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.rightToRestrictTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.rightToRestrictText1" | translate }}
  </p>
  <ul>
    <li>
      {{ "privacyPolicy.rightToRestrictText2" | translate }}
    </li>
    <li>
      {{ "privacyPolicy.rightToRestrictText3" | translate }}
    </li>
    <li>
      {{ "privacyPolicy.rightToRestrictText4" | translate }}
    </li>
    <li>
      {{ "privacyPolicy.rightToRestrictText5" | translate }}
    </li>
  </ul>
  <p>
    {{ "privacyPolicy.rightToRestrictText6" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.encryptionTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.encryptionText1" | translate }}
  </p>
  <p>
    {{ "privacyPolicy.encryptionText2" | translate }}
  </p>
  <h3>
    {{ "privacyPolicy.objectionAdvertisingTitle" | translate }}
  </h3>
  <p>
    {{ "privacyPolicy.objectionAdvertisingText" | translate }}
  </p>
  <p>{{ "privacyPolicy.source" | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</section>
