@import "../styles/fonts.scss";
@import "../../styles.scss";
@import "../styles/mixins.scss";

section {
    width: 100%;
    max-width: 1440px;
    padding: 76px 0;
    @include marginMaxWidth();
    
    @media (max-width:850px) {
        padding: 45px 0;
        @include marginMobile();
    }

    @media (max-width: 400px) {
        padding: 36px 0;
    }
}

p, a, li {
    font-family: "Josefin Sans", "sans serif";
    padding: 12px 0;
}

a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $mint;
    }
}

h2 {
    font-size: 36px;
    padding: 36px 0 36px 0;
}

h3 {
    font-size: 24px;
    padding: 16px 0 16px 0;
}

h4 {
color: $mint;
font-size: 20px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
        padding: 20px 0 20px 0;
    }
    
    h3 {
        font-size: 24px;
        padding: 10px 0 10px 0;
    }
    
    h4 {
    font-size: 20px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
        padding: 18px 0 18px 0;
        text-align: start;
    }
    
    h3 {
        font-size: 20px;
        padding: 8px 0 8px 0;
    }
    
    h4 {
    font-size: 18px;
    }
}