@import "../styles/mixins.scss";

div {
  @include dFlex();
  padding-top: 90px;

  @media (max-width: 800px) {
    padding-top: 80px;
  }
}

.app-container {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0;
  height: 100vh;
}

app-nav, app-hero {
  width: 100%;
}

@media (max-width: 600px) {
  .app-container {
    flex-direction: column;

    app-hero {
      order: 2;
    }

    app-nav {
      order: 1;
    }
  }
}

app-contact, app-references, app-about {
  display: flex;
  justify-content: center;
  width: 100%;
}