@import "../styles/mixins.scss";

div {
  @include dFlex();
  padding-top: 90px;
}

.app-container {
  flex-direction: column;
  padding-top: 0;
}

app-nav, app-hero {
  width: 100%;
}

@media (max-width: 800px) {
  .app-container {
    flex-direction: column-reverse;
  }
}