<footer>
  <div class="content">
    <div class="footer_info">
      <a routerLink="/imprint">{{ "footer.imprint" | translate}}</a>
      <p>&copy; Stephanie Englberger 2025</p>
    </div>
    <a routerLink="/"><img class="logo" src="../../../../assets/img/logo_mobile_dark.png" /></a>
    <div class="social_media_buttons">
      <a href="https://github.com/StephEngl" target="_blank"> </a>
      <a href="mailto:stephanie.englberger@icloud.com" target="_blank"> </a>
      <a href="https://www.linkedin.com/in/stephanie-englberger-3ab300358/" target="_blank"> </a>
    </div>
  </div>
</footer>
