@import '../../../styles/fonts.scss';
@import '../../../../styles.scss';
@import '../../../styles/mixins.scss';

footer {
  font-family: "Anta";
  width: 100vw;
  height: 214px;
  background-color: $mint;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 1440px;
  width: 100%;
  @include dFlex($jc:space-between, $ai: flex-end);
  padding: 0 80px;

  a {
    text-decoration: none;
    color: #f8f5ec;
  }
}

.social_media_buttons {
    @include dFlex($g: 16px);

  > a {
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: background-image 0.3s ease;

    &:nth-child(1) {
      background-image: url("../../../../assets/icons/sm_button_github_dark.png");
      &:hover {
        background-image: url("../../../../assets/icons/sm_button_github_white.svg");
      }
    }

    &:nth-child(2) {
      background-image: url("../../../../assets/icons/sm_button_mail_dark.png");
      &:hover {
        background-image: url("../../../../assets/icons/sm_button_mail_white.svg");
      }
    }

    &:nth-child(3) {
      background-image: url("../../../../assets/icons/sm_button_li_dark.svg");
      &:hover {
        background-image: url("../../../../assets/icons/sm_button_li_white.svg");
      }
    }
  }
}
