<app-header></app-header>

<div class="impressum">
  <h1>{{ "imprint.title" | translate }}</h1>

  <p>
    Stephanie Englberger<br />
    Strümpfelbacher Straße 4<br />
    71384 Weinstadt
  </p>

  <h2>{{ "imprint.contact" | translate }}</h2>
  <p>
    {{ "imprint.phone" | translate }}: <a href="tel:+491627119349">+49 (0) 162 71 19 349</a><br />
    {{ "imprint.email" | translate }}: <a href="mailto:stephanie.englberger&#64;icloud.com">stephanie.englberger&#64;icloud.com</a>
  </p>

  <p>
    {{ "imprint.source" | translate }}
    <a target="_blank" href="https://icons8.com">Icons8</a>
  </p>
</div>
