<app-header></app-header>

<div class="impressum">
  <h1>{{ "imprint.title" | translate }}</h1>

  <p>
    Stephanie Englberger<br />
    Strümpfelbacher Str. 4<br />
    71384 Weinstadt
  </p>

  <h2>{{ "imprint.contact" | translate }}</h2>
  <p>
    Telefon: +49 (0) 1627119349<br />
    E-Mail: stephaniekoebich&#64;aol.com
  </p>

  <p>
    {{ "imprint.source" | translate }}
    <a href="https://www.e-recht24.de/impressum-generator.html"
      >https://www.e-recht24.de/impressum-generator.html</a
    >
  </p>
</div>
