$mint: #6dbfb8;
$white: #f8f5ec;
$bg_dark: #262e34;
$bg_light: #323f48;
$bg_projects: #2d3840;
$color_alert: #e44c36;

* {
  scroll-behavior: smooth;
  margin: 0;
  color: $white;
  font-family: "Anta";
  box-sizing: border-box;
}

body {
  background-color: $bg_dark;
}

html body.menu_open {
  overflow: hidden !important;
}

h1 {
  font-size: 50px;
  font-weight: 120;
  text-align: center;
}

h2 {
  font-size: 60px;
  font-weight: 100;
  color: $mint;
  padding-bottom: 80px;
  text-align: center;

  @media (max-width: 900px) {
    padding-bottom: 32px;
    font-size: 32px;
  }
}

h3 {
  font-size: 30px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $mint;
  border-radius: 30px;
  padding: 12px 24px;
  margin-top: 16px;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:disabled {
    background-color: transparent;
    border-color: $white;
    color: $white;
  }

  a {
    text-decoration: none;
  }
}

app-imprint {
  display: flex;
  justify-content: center;
  height: calc(100vh - 214px);
}

app-privacy-policy {
  display: flex;
  justify-content: center;
}
