$mint: #6dbfb8;
$white: #F8F5EC;
$bg_dark: #262E34;

* {
    scroll-behavior: smooth;
    margin: 0;
    color: $white;
    font-family: "Anta";
    box-sizing: border-box;

}

body {
    background-color: $bg_dark;
}

h1 {
    font-size: 50px;
    font-weight: 120;
}