$mint: #6dbfb8;
$white: #F8F5EC;
$bg_dark: #262E34;

* {
    scroll-behavior: smooth;
    margin: 0;
    color: $white;
    font-family: "Anta";
}

body {
    background-color: $bg_dark;
    box-sizing: border-box;
}